attrs==23.1.0
blinker==1.6.2
blis==0.7.9
catalogue==2.0.8
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.4
click-plugins==1.1.1
cligj==0.7.2
confection==0.1.0
cymem==2.0.7
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
Fiona==1.9.4.post1
Flask==2.3.2
gender-guesser==0.4.0
geopandas==0.13.2
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.1
langcodes==3.3.0
lark==1.1.5
lxml==4.9.3
MarkupSafe==2.1.3
murmurhash==1.0.9
neuroquery==1.0.4
nibabel==5.1.0
nilearn==0.10.1
numpy==1.24.4
packaging==23.1
pandas==2.0.3
pathy==0.10.2
pkg_resources==0.0.0
preshed==3.0.8
-e git+ssh://git@github.com/neurodatascience/pubextract.git@554b9c49b28a2a19b4e3ac50e0d81a4fa261bee2#egg=pubextract
pubget==0.0.8
pydantic==1.10.11
pyproj==3.5.0
python-dateutil==2.8.2
pytz==2023.3
regex==2023.6.3
requests==2.31.0
scikit-learn==1.3.0
scipy==1.10.1
shapely==2.0.1
six==1.16.0
smart-open==6.3.0
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
thinc==8.1.10
threadpoolctl==3.1.0
tqdm==4.65.0
typer==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.3
wasabi==1.1.2
Werkzeug==2.3.6
zipp==3.16.1
